[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:goodroot/hugo-classic.git
