[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:goodroot/hugo-classic.git
[submodule "themes/nofancy"]
	path = themes/nofancy
	url = https://github.com/gizak/nofancy
